*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: sandybrown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


header{
    background-color:hotpink;
    font-size: 32px;
    padding: 22px 0px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

ul{
    font-size: 20px;
    display: flex;
    justify-content:space-between;
    margin-left: 3px;
    color:beige;
    list-style-type: none;
    padding: 16px;
    background-color: mediumpurple;
}

footer{
    background-color: lightslategrey;
    padding: 14px 1px;
    color: black;

    
}
 .Formulário{
    justify-content: space-between;

}
.loja{

    padding: 16px;
    text-align: center;
}

.loja2{
    text-align: center;
    padding: 16px;

}

.loja3{
    text-align: center;
    padding: 16px;
}

b{
    color: aquamarine;
}

footer h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 20px;
}
